.homePage {
  padding: 60px 15px;
}

.babbleCard {
  background-color: #fff;
  padding: 8px;
  display: flex;
  width: 90%;
  border: 2px solid var(--secondaryColor);
  border-radius: 6px;
  box-shadow: 3px 4px var(--secondaryColor);
  margin-top: 15px;
}

.babbleCard-image {
  width: 12%;
  margin-right: 15px;

  img {
    border-radius: 50%;

  }
}

.babbleCard-content {
  padding: 5px;
}

.babbleCard-userHandle {
    color: var(--primaryColor);
    font-size: 1.6rem;
    // display: inline-block;
}

.babbleCard-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.babbleCard-timeFromNow {
  font-size: 1.4rem;
  color: var(--textColorDark);
  margin-left: 30px;
}

.babbleCard-body{
    font-size: 1.4rem;;
}
