.homePage {
  padding: 40px 15px;
}

.babbleCard {
  background-color: #fff;
  padding: 8px;
  display: flex;
  width: 90%;
  border: 2px solid lightgrey;
  border-radius: 6px;
  box-shadow: 3px 4px lightgrey;
  margin-top: 15px;
}

.babbleCard-image {
  width: 20%;
  margin-right: 15px;

  img {
    border-radius: 50%;

  }
}

.babbleCard-content {
  padding: 5px;
}

.babbleCard-userHandle {
    color: var(--primaryColor);
}
