.card {
  background-color: #fff;
  padding: 8px;
  display: flex;
  width: 90%;
  border: 2px solid lightgrey;
  border-radius: 6px;
  box-shadow: 3px 4px lightgrey;
  margin-top: 15px;
}

.card-image {
  width: 30%;
}
